---
import Layout from "../layouts/Layout.astro";

export function getStaticPaths() {
  const projectData = [
    {
      project: "technotes",
      title: "Tech Notes",
      stack: "",
      link: "https://aditya-technotes.onrender.com/",
      description: "",
      hero: "",
    },
    {
      project: "chat-app",
      title: "Chat App",
      stack: "",
      link: "https://mern-chat-w5is.onrender.com/",
      description: "",
      hero: "",
    },
    {
      project: "erp-system",
      title: "ERP System",
      stack: "",
      link: "Still in development",
      description: "",
      hero: "",
    },
    {
      project: "tesla-clone",
      title: "Tesla Clone",
      stack: "",
      link: "https://aditya-tesla-io.vercel.app/",
      description: "",
      hero: "",
    },
  ];

  return projectData.map(
    ({ project, title, description, stack, link, hero }) => {
      return {
        params: {
          project,
        },
        props: {
          title,
          description,
          stack,
          link,
          hero,
        },
      };
    }
  );
}

const { title, description, stack, hero, link } = Astro.props;
---

<Layout title="Project">
  <div class="text-white">
    <h1>{title}</h1>
    <p>{description}</p>
    <p>{stack}</p>
    <p>{link}</p>
    <img src={hero} alt="" />
  </div>
</Layout>
